


body {
position:relative;
background-image: url("../images/victorianBackground.png");
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Bilbo', cursive;
    font-size:28px;

	
}
.container{

	width:100%;
	height:100%;

}

.row{



}

button {

	border-radius: 3pt;
	border-style: groove;
	border-color: #b83e0f;
	background-color:#eca2a2;
	background-image: url("../images/wood-pattern.png");
	height:50px;
	width:80px;
	margin: 1% 0 1% 0;
	text-align: center;
	

}

#start{

	height:180px;
	width:150px;
	font-size: 46px;
	padding-left:0;
	text-align: center;
	line-height: 48px;
}

#bigQuestion{

	text-align: center;
}


.stop {

	border-radius: 3pt;
	border-style: groove;
	border-color: #b83e0f;
	background-color:#eca2a2;
	height:90px;
	width:560px;
	
	text-align: center;

}

ul{

	list-style: none;
}

#display{

	border-radius: 3pt;
	border-style: groove;
	border-color: #b83e0f;
	background-color:#eca2a2;
	background-image: url("../images/wood-pattern.png");
	height:180px;
	width:150px;
	margin: auto;
	font-size: 80px;
	padding-top:8px;
	text-align: center;

}

#title{

	text-align: center;
	font-size: 48px;
	padding-top:8px;
	padding-left:auto;
	padding-right: auto;
	line-height: 54px;

}

#questions {

	text-align: center;
	margin-left: 15%;
}


#top .col-sm-2 {
   
	background-color: white;
	
	height: 200px;
	margin-left:3%;
	padding:6px;
	text-align: center;
}



#middle .col-md-7 {
  
	background: none;
	
	height: 420px;
	margin:1% auto 1% 10%;
}

#top .col-md-7 {
  
	background: none;
	
	height: 150px;
	margin:1% auto 1% 1%;
}

@media screen and (max-width: 768px) {

	#top .col-sm-2 {
display: inline;
clear: all;

	}
}


